@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h2 class="mb-4" style="font-family: Montserrat; color: #01579B;">Dashboard</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow-sm p-3 mb-4 bg-white rounded">
                <h5 style="font-family: Raleway; color: #00B5E2;">Estado General</h5>
                <p style="font-family: Roboto;">Resumen del negocio...</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm p-3 mb-4 bg-white rounded">
                <h5 style="font-family: Raleway; color: #FF7043;">Notificaciones</h5>
                <p style="font-family: Roboto;">Citas pendientes...</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm p-3 mb-4 bg-white rounded">
                <h5 style="font-family: Raleway; color: #1A73E8;">Reportes Financieros</h5>
                <p style="font-family: Roboto;">Balance actual...</p>
            </div>
        </div>
    </div>
</div>