@{
    ViewBag.Title = "Eliminar empleado";
}

<h2>@ViewBag.Title</h2>

<div>
    <form method="post">
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="@Url.Action("Index")" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

